<div class="full-height scrollable">

    <form mat-dialog [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div mat-dialog-title>Anmeldung erforderlich</div>
        <div mat-dialog-content class="middle-top-spacer">

            <mat-form-field class="full-width">
                <mat-label>Benutzer-Kennung:</mat-label>
                <input matInput formControlName="user" autocomplete="off" class="full-width" appAutoFocus>
                <mat-error *ngIf="loginForm.controls['user'].hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width large-top-spacer">
                <mat-label>Kennwort:</mat-label>
                <input type="password" matInput formControlName="password" autocomplete="off" class="full-width">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Bitte ausfüllen</mat-error>
            </mat-form-field>

        </div>
        <div  mat-dialog-actions>
            <button class="large-top-spacer" type="submit" mat-flat-button color="primary"
                [disabled]="!loginForm.valid">Anmelden</button>
        </div>
    </form>
</div>