:host {
    overflow: auto;
}

.toolbar {
    padding: 0.5rem;
    border-bottom: 1px solid #d0d0d0;
}

.toolbar>button {
    color: #333;
}

.empty-labels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c0c0c0;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drop-label {
    font-size: xx-large;
}

.select-label {
    display: inline-block;
    align-items: center;
    margin-top: 2rem;
}